@import 'flex.scss';
@import 'room.scss';
@import 'reset.css';
.gameWrapper {
    @include flex($direction: column, $align: center);
    margin-top: 6vh;
    .gameWrapper__title {
        height: 5vh;
        margin: auto;
    }
    .gameWrapper__board {
        position: relative;
        width: 100%;
		max-width: 300px;
        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        .boardWrapper {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            .boardWrapper__row {
                height: 33%;
                .square {
					height: 100%;
                    background: #fff;
                    border: 2px solid #999;
                    float: left;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 34px;
                    margin-right: -1px;
                    margin-top: -1px;
                    padding: 0;
                    text-align: center;
                    width: 33%;
                    &.selected {
                        background: red;
                    }
                    &.toArea {
                        background: yellow;
                    }
                }
            }
        }
    }
    .gameWrapper__info {
		font-size: 24px;
    }
	.buttonArea {
		@include flex($justify: space-between);
		width: 100%;
		max-width: 300px;
	}
}

.globalHeader {
    height: 5vh;
    background: #316c82;
    color: #fff;
    @include flex($justify: flex-start);
    padding: 0 10%;
    font-size: 20px;
    box-shadow: 0 0 6px rgb(0, 0, 0 / 50);
}